# Server
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>
MONGO_DB_NAME=clickpick
JWT_SECRET=replace_with_long_random_secret

# SMS (optional)
TEXTBEE_API_KEY=
TEXTBEE_DEVICE_ID=
